{
  "extends": [
    "../../lbConf/templates/eslint.config.js",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "tabWidth": 4,
      "printWidth": 120
    }]
  },
  "env": {
        "jasmine": true
    }
}
